[Desktop Entry]
Type=Application
Version=1.0
Name=TV-Viewer
Name[de]=TV-Viewer
Name[nl]=TV-Viewer
Name[it]=TV-Viewer
Name[fr]=TV-Viewer
GenericName=Watch TV on your PC
GenericName[de]=Fernsehen auf dem PC
GenericName[nl]=TV kijken op uw PC
GenericName[it]=Guarda la TV sul tuo PC
GenericName[fr]=Regarder la TV sur votre PC
Comment=Watch TV on your PC
Comment[de]=Fernsehen auf dem PC
Comment[nl]=TV kijken op uw PC
Comment[it]=Guarda la TV sul tuo PC
Comment[fr]=Regarder la TV sur votre PC
Exec=tv-viewer
Icon=tv-viewer
Terminal=false
Categories=AudioVideo;Video;TV
StartupNotify=false
X-KDE-StartupNotify=false
